$linkColor: #000;
$linkHover: lighten($linkColor, 11%);
$textColor: #5b5f5e;
$green: #397165;
$titleColor: $green;
$darkBG: #333333;

$menuW: 35px;
$menuH: 30px;
$menuT: 10px;
$menuLinesH: 4px;
$menuLinesM: 3.9px;
