@import 'partials/variables';
@import 'partials/buttons';
@import 'partials/typography';
@import 'partials/mixins';
@import 'partials/grid';
@import 'partials/menu';
@import 'breakpoints/base';
@media only screen and (min-width: 768px) {
  @import 'breakpoints/768';
}

@media only screen and (min-width: 1030px) {
  @import 'breakpoints/1030';
}

@media only screen and (min-width: 1240px) {
  @import 'breakpoints/1240';
}