// .drawingContainer {
//   max-width: 1200px;
//   position: relative;
//   margin: 0 auto;
// }

// .drawingControls, .stages {
//   float: left;

//   &.animationControls {
//     float: none;
//     margin-bottom: 100px;
//   }
// }

// .drawingControls {
//   //width: 400px;
// }

// .animationControls {
//   width: 100%;
// }

// .stages {
//   width: 709px;
//   height: 500px;
//   position: relative;
//   margin: 0 0 20px 90px;
// }